body {

}

.wrapper_home {
	width: 100%;
	height: auto;
	min-height: 700px;
	position: relative;
	top: -22px;
	background-color: blue;
	padding-bottom: -22px;
}

/***NAV***/
.nav {
	background-color: red;
	position: relative;
	z-index: 100;
	top: 0;
	width: 100%;
	height: auto;
	text-align: center;
}

.nav ul {
	list-style-type: none;
	margin-top: 0;
	padding: 20px;
}

.nav li {
	display: inline;
	margin: 0 auto;
	padding: 10px;
}

.nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #2c3840;
	font-size: 1.2em;
	text-align: center;
}