body {
	
}

.logo {
	width: 100%;
	height: 110px;
	background-color: #d1dbbd;
	position: relative;
	top: 0;
}

.logo img{
	padding-left: 15px;
}

.wrapper_home {
	width: 100%;
	height: auto;
	min-height: 520px;
	position: relative;
	float: left;
	background-color: #FCFEF9;
	margin-bottom: 0;
	border-top: 2px solid black;
}

.footer {
	background-color: #3e606f;
	position: relative;
	float: left;
	width: 100%;
	min-height: 75px;
	height: auto;
	text-align: center;
	border-top: 2px solid black;
}

.footer p{
	padding: 0;
	margin: 5px;
	color: #FCFEF9;
}

.copyright {
	font-size: .8em;
}

/***NAV***/
.nav {
	background-color: #d1dbbd;
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	text-align: right;
	margin-bottom: 0;
}

.nav ul {
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
}

.nav li {
	display: inline-block;
	padding: 8px;
	margin-bottom: 2px;
}

.nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #0f0f0f;
	font-size: 1em;
	text-align: center;
}

/****** INDEX ******/

.intro {
	width: 50%;
	position: relative;
	float: left;
	height: auto;
	min-height: 400px;
	top: 40px;
	margin-bottom: 50px;
	border-left: 2px solid black;
	padding-left: 10px;
	margin-left: 10px;
}

.intro p {
	margin-left: 10px;
	padding-left: 5px;
	font-size: 1em;
	margin-right: 35px;
}

.intro_pic {
	width: 40%;
	position: relative;
	float: left;
	margin-top: 40px;
	height: 400px;
	margin-right: 10px;
	margin-left: 40px;
	margin-bottom: 50px;
}

.intro_pic img {
	margin-bottom: 50px;
	margin-right: 5px;
	float: right;

}

.intro_2 {
	width: 100%;
	position: relative;
	float: left;
	height: auto;
	background-color: #FCFEF9;
	color: #0f0f0f;
	margin-top: 50px;
	margin-bottom: 50px;
}

.intro_2 p{
	margin: 25px 60px;
	text-align: center;
	font-size: 1.1em;
	border-bottom: 4px solid #3e606f;
	border-top: 4px solid #3e606f;
	padding-bottom: 20px;
	padding-top: 20px;
}

.intro_3 {
	width: 50%;
	height: auto;
	position: relative;
	float: left;
	background-color: transparent;
	margin-bottom: 60px;
	border-right: 2px solid black;
}

.intro_3 h1,
.intro_4 h1 {
	font-size: 1.4em;
	margin-left: 15px;
}

.intro_3 p{
	margin: 20px 15px;
}

.intro_4 {
	width: 49.5%;
	height: auto;
	position: relative;
	float: left;
	background-color: transparent;
}

.intro_4 p{
	margin-left: 15px;
	margin-right: 15px;
}


/******* HIPAA *******/

.hipaa_intro {
	width: 50%;
	position: relative;
	float: left;
	top: 70px;
	left: 40px;
	border-left: 1.5px solid black;
	margin-bottom: 90px;
}

.hipaa_intro p{
	margin-left: 25px;
}

.hipaa_intro h1{
	margin-top: -15px;
	margin-left: 25px;
}

/****** SUPPORT TOOLS ******/

.supportlinks_1,
.supportlinks,
.supportlinks_end {
	width: 80%;
	height: auto;
	min-height: 200px;
	margin-left: 10%;
	border-bottom: 2px solid black;
}

.supportlinks_end {
	border-bottom: none;
}

.supportlinks_1 {
	margin-top: 50px;
}

.break {
	width: 95%;
	height: 40px;
	margin-left: 2.5%;
	border-bottom: 4px solid #3e606f;
}

.supporttools {
	background-color: #FCFEF9;
  	height: 150px;
  	width: 45%;
  	float: left;
 	margin-left: 2%;
 	margin-top: 55px;
 	margin-bottom: 35px;
 	position: relative;
 	text-align: left;
 	border-left: 2px solid black;
}

.supporttools a {
	text-decoration: none;
	color: #0f0f0f;
	font-size: 1.1em;
}

.supporttools h1 {
	margin-top: -5px;
	font-size: 1.5em;
	margin-left: 25px;
}

/************** CONTACT ****************/

.contact_intro {
	width: 45%;
	position: relative;
	float: left;
	top: 70px;
	margin-left: 40px;
	border-left: 1.5px solid black;
	margin-bottom: 90px;
}

.contact_intro p{
	margin-left: 25px;
}

.contact_intro h1{
	margin-top: -15px;
	margin-left: 25px;
}

.sociallinks {
	width: 45%;
	height: auto;
	position: relative;
	float: left;
	top: 80px;
	margin-left: 15px;
	background-color: transparent;
	margin-bottom: 80px;
}

.sociallinks h3 {
	border-bottom: 1px solid black;
}

.sociallinks ul {
	list-style-type: none;
	margin-top: 0;
	padding-left: 0;
}

.sociallinks li {
	display: inline-block;
}

.sociallinks a {
	text-decoration: none;
}

.twitter img,
.facebook img,
.linkedin img,
.google img,
.wordpress img {
	opacity: 1;
	transition: opacity 0s;
}

.twitter:hover img,
.facebook:hover img,
.linkedin:hover img,
.google:hover img,
.wordpress:hover img{
	opacity: .5;
	transition: opacity 0s;
}

/*************** SERVICES ***************/

.IT,
.HIPAA,
.sales,
.social {
	background-color: #FCFEF9;
	position: relative;
	float: left;
	height: 100px;
	width: 70%;
	margin-left: 15%;
	border-bottom: 2px solid black;
	transition: height 2s;
	transition: background 1s linear;
}

.IT {
	margin-top: 50px;
}

.social {
	margin-bottom: 50px;
}

.IT h1,
.HIPAA h1,
.sales h1,
.social h1{
	text-align: center;
	margin-top: 30px;
}

.IT p,
.HIPAA p,
.sales p,
.social p{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50px;
	text-align: center;
	color: black;
	opacity: 0;
	transition: opacity 0s;
}


/******LAST FRAME*****/

.IT:hover,
.HIPAA:hover,
.sales:hover,
.social:hover {
	height: 200px;
	transition: height 2s;
	background: #d1dbbd;
	background-image:
    	linear-gradient( 
    	to top,
     	#d1dbbd, 
      	#FCFEF9);
}

.IT:hover p,
.HIPAA:hover p,
.sales:hover p,
.social:hover p{
  opacity: 1;
  transition: opacity 4s;
}


/*************** ABOUT ***************/

.split,
.split_end {
	height: auto;
	min-height: 300px;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

.split_end {
	margin-bottom: 50px;
}

.profile i{
	font-size: .75em;
}

.profile img {
	margin-left: 0;
	padding: 3px;
	border: 2.75px solid black;
}

.split h1,
.split_end h1{
	margin-left: 330px;
	margin-top: -305px;
}

.split p,
.split_end p {
	margin-left: 330px;
}

/*************** LINKS ***************/

a:link,
a:visited {
	text-decoration: none;
}

a:focus {
	background: #FCFEF9;
}

a:hover {
	color: #3e606f;
}

a:active {
	color: #000;
}

/* Media Queries */

@media (max-width: 800px) {

	/***NAV***/

	.nav {
		text-align: center;
	}

/***** HOME ********/

	.intro_pic {
		margin-left: 30px;
	}

	.intro{
		margin-top: 30px;
	}

/****** About ******/

	.split,
	.split_end {
		height: auto;
		min-height: 300px;
		margin-top: 50px;
		margin-left: 5%;
		margin-right: 5%;
	}

}



@media (max-width: 768px) {

	/***** NAV *****/

	.logo {
		width: 100%;
		height: 90px;
		background-color: #d1dbbd;
		position: relative;
		top: 0;
	}

	.logo img{
		padding-left: 8px;
		width: 247px;
		height: 90px;
	}

	/***** HOME ******/

	.intro_pic img {
		margin-left: 10%;
		float: left;
	}

	.intro_pic{
		width: 90%;
		height: 350px;
		margin-bottom: 0;
	}

	.intro {
		width: 90%;
		min-height: 200px;
	}

	/****** About ******/

	.split h1,
	.split_end h1{
		font-size: 1.2em;
	}

	.split p,
	.split_end p {
		font-size: .9em;
	}
	
}

@media (max-width: 640px){

	/******** NAV *******/

	.nav a {
		font-size: .8em;
	}

	/****** HOME *******/

	.intro_pic img {
		width: 257px;
		height: 305px;
		margin-left: 0;
	}

	.intro_pic {
		margin-left: 5%;
	}

	.intro {
		margin-top: -40px;
	}

	.intro_2 {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.intro_2 p{
		margin: 25px 40px;
		font-size: 1em;
	}

	.intro_3 {
		width: 100%;
		background-color: transparent;
		margin-bottom: 5px;
		border-right: none;
	}

	.intro_3 h1,
	.intro_4 h1 {
		font-size: 1.2em;
	}

	.intro_3 p,
	.intro_4 p {
		font-size: .9em;
	}

	.intro_4 {
		width: 100%;
	}

	/****** SUPPORT ******/

	.supporttools {
  		width: 80%;
  		height: 120px;
 		margin-left: 10%;
 		margin-top: 30px;
 		margin-bottom: 30px;
	}

	.supporttools a {
		font-size: 1em;
	}

	.supporttools h1 {
		font-size: 1.2em;
	}

	/***** HIPAA *****/
  
	.hipaa_intro {
		width: 85%;
		top: 40px;
		left: 15px;
	}

	.hipaa_intro p{
		font-size: .9em;
	}

	.hipaa_intro h1{
		font-size: 1em;
	}

	/****** CONTACT *****/

	.contact_intro {
		width: 80%;
		margin-left: 15px;
		margin-bottom: 50px;
	}

	.sociallinks {
		width: 90%;
		margin-top: 0;
	}


	/****** SERVICES *****/ 

	.IT,
	.HIPAA,
	.sales,
	.social {
		width: 90%;
		margin-left: 5%;
	}

	.IT h1,
	.HIPAA h1,
	.sales h1,
	.social h1 {
		font-size: 1.3em;
	}

	.IT p,
	.HIPAA p,
	.sales p,
	.social p {
		font-size: .95em;
	}

	/******LAST FRAME*****/

	.IT:hover,
	.HIPAA:hover,
	.sales:hover,
	.social:hover {
		height: 250px;
		transition: height 2s;
	}

	/****** About ******/

	.split,
	.split_end {
		margin-left: 5px;
	}

	.split h1,
	.split_end h1{
		margin-left: 3px;
		margin-top: 10px;
	}

	.split p,
	.split_end p {
		margin-left: 3px;
	}

	.split img,
	.split_end img {
		width: 240px;
		height: 240px;
	}

}

/* Clearfix */

.clearfix {
	clear:both;
}